./gitignore
Motion_controller/src/.vs
dll_projects/.vs
dll_projects/tmp
dll_projects/x64
dll_projects/out
Motion_controller/install
Motion_controller/build
*.vscode
Motion_controller/src/quick_upload.sh
